<div class="row">
    <h1> {{ isEditing ? 'Edit' : 'New' }} Contact</h1>
    <div class="col-md-6">
      <form name="contactForm" ng-submit="doSave()" novalidate>
        <div class="input-group">
          <span class="input-group-addon"> Name</span>
          <input ng-model="newContact.name" type="text" class="form-control" placeholder="" required="">
        </div>
        <br>
        <div class="input-group">
          <span class="input-group-addon">Phone</span>
          <input ng-model="newContact.phone" ui-mask="(99)99999-999?9" type="text" class="form-control" placeholder="" required="">

        </div>
        <br>
        <div class="input-group">
          <span class="input-group-addon">Email</span>
          <input ng-model="newContact.email" type="email" class="form-control" placeholder="">

        </div>
        <br>
        <div class="input-group">
          <span class="input-group-addon">Address</span>
          <input ng-model="newContact.address" type="text" class="form-control" placeholder="">

        </div>
        <br>
        <div class="input-group">
          <input ng-disabled="!canSave()" class="btn btn-success" type="submit" name="name" value="Save">
        </div>
      </form>
      <br>
    </div>
  </div>
